{% extends "base.html" %}

{% block head %}
<title>Player list</title>
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css' ) }}" />
{% endblock head %}

{% block content %}
<h1>Player list</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>first_name</th>
            <th>last_name</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td><a href="{{ url_for('get_player', player_id=player.id ) }}">{{player.id}}</a></td>
            <td>{{player.first_name}}</td>
            <td>{{player.last_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}