* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: rgb(195,200,255);
    /* background: linear-gradient(90deg, rgba(195,200,255,1) 0%, rgba(151,155,196,1) 50%, rgba(195,200,255,1) 100%); */
    color: #201253; 
}

.content {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}