.form-title {
    padding: 20px;
    font-size: 23px;
}

.form {
    font-size: 20px;
}

.form-block {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    text-align: center;
    display: block;
    min-width: 100px;
}

.form-input {
    min-width: 200px;
}

.form-submit {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}