{% extends "base.html" %}

{% block head %}
<title>Create player</title>
<link rel="stylesheet" href="{{ url_for('static', path='/css/form.css' ) }}" />
{% endblock head %}

{% block content %}
<div class="form-title">Create player form</div>
<div class="form">
    <form action="{{ url_for('create_player') }}" method="POST">
        <label class="form-label" for="first_name">First name:</label>
        <input class="form-input" type="text" id="first_name" name="first_name" required><br><br>
        <label class="form-label" for="last_name">Last name:</label>
        <input class="form-label" type="text" id="last_name" name="last_name" required><br><br>
        <input class="form-submit" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}