{% extends "base.html" %}

{% block head %}
<title>Games list</title>
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css' ) }}" />
{% endblock head %}

{% block content %}
<h1>Games list</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>date</th>
            <th>status</th>
            <th>player 1</th>
            <th>player 2</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{game.id}}</td>
            <td>{{game.date}}</td>
            <td>{{game.status}}</td>
            <td>{{game.player1.id}}. {{game.player1.first_name}} {{game.player1.last_name}}</td>
            <td>{{game.player2.id}}. {{game.player2.first_name}} {{game.player2.last_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}