{% extends "base.html" %}

{% block head %}
<title>Game {{ game.id }}</title>
<link rel="stylesheet" href="{{ url_for('static', path='css/form1.css') }}">
{% endblock %}

{% block content %}
    <h1>Game {{ game.id }}</h1>

    <div class="game-info">
        <div class="game-info__item">
            <p>Date:</p>
            <p>{{ game.date }}</p>
        </div>
        <div class="game-info__item">
            <p>Player 1:</p>
            <p>{{ game.player1.first_name }} {{ game.player1.last_name }}</p>
        </div>
        <div class="game-info__item">
            <p>Player 2:</p>
            <p>{{ game.player2.first_name }} {{ game.player2.last_name }}</p>
        </div>
        <div class="game-info__item game-info__item--status">
            <p>Status:</p>
            {% if game.status == 0 %}
                <p class="failure">Didn't started</p>
            {% elif game.status == 1 %}
                <p class="success">Player 1 win</p>
            {% elif game.status == 2 %}
                <p class="success">Player 2 win</p>
            {% else %}
                <p class="success">Draw</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
