{% extends "base.html" %}

{% block head %}
<title>Game records</title>
<link rel="stylesheet" href="{{ url_for('static', path='/css/home.css' ) }}" />
{% endblock head %}

{% block content %}
<div class="home">
    <div class="home-wrapper">
        <a href="{{ url_for('create_player_form' ) }}">Create player</a>
    </div>
    <div class="home-wrapper">
        <a href="{{ url_for('create_game_form' ) }}">Create game</a>
    </div>
    <div class="home-wrapper">
        <a href="#">All games</a>
    </div>
        <div class="home-wrapper">
        <a href="#">All players</a>
    </div>
</div>
{% endblock content %}